.banner-img{
    background-image: url("../../../assets/kid-playing-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

@media screen and (min-width: 578px) {
    .banner-img{
        height: auto;
        width: 100%;
    }
}